# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  pull_request:
    types:
      - closed
    paths:
      - 'app/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
#  if_merged:
#    if: github.event.pull_request.merged == true
  builds:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - id: release
      uses: rymndhng/release-on-push-action@master
      with:
        bump_version_scheme: patch

    - name: checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Print Git ref
      run: echo ${{ github.ref }}
      
    - run: git fetch --force --tags

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - id: goreleaser
      uses: goreleaser/goreleaser-action@v4
      with:
        distribution: goreleaser
        version: latest
        args: release --clean
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_NAME: demo-app

    - uses: actions-ecosystem/action-get-latest-tag@v1
      id: get-latest-tag
      with:
        semver_only: true
 
    - name: Modify file
      run: |
        # Use sed to replace the tag in the file with the ARTIFACT_NAME
        sed -i "s/tag:.*/tag: ${{ steps.get-latest-tag.outputs.tag }}/g" values-dev.yaml

    - name: Commit & Push changes
      uses: actions-js/push@v1.4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        message: "Updating tag version to ${{ env.ARTIFACT_NAME }}"
